@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.nav-list span,
.nav-list div {
  cursor: pointer;
  user-select: none;
}

.card-gradient {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#121212),
    to(#222)
  );
  cursor: pointer;
  user-select: none;
}

@layer components {
  .navigation {
    @apply hidden xl:flex xl:col-span-2 h-9 relative  font-normal text-white space-x-6 items-center justify-center text-[18px]  nav-list;
  }
  .navigation-dark {
    @apply navigation text-[#242424];
  }
  .header {
    @apply sticky top-0 z-50 grid grid-cols-4  py-8 items-center px-8 bg-dark;
  }
  .header-dark {
    @apply header shadow-lg bg-white;
  }
  .section-row {
    @apply flex w-[92%] mx-auto justify-between items-center  mt-24 flex-col sm:flex-row;
  }
  .section-row-reverse {
    @apply section-row sm:flex-row-reverse;
  }
  .footer-list li {
    @apply text-gray-400 text-sm cursor-pointer hover:underline;
  }
}
